/* ========================================
   HOME COMPONENT STYLES
   ======================================== */

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 5rem;
    height: 80vh;
    -webkit-animation: right 3s;
    animation: right 3s;
}

.container-right-content {
    padding: 4rem;
}

.container-right-text {
    font-size: 2rem;
    list-style-type: none;
    line-height: 2.5rem;
}

.container-right-text .link-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #8d919d;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-transition: all 0.9s;
    transition: all 0.9s;
    width: 200px;
}

.container-right-text .link-box a {
    color: #8d919d;
    font-size: 2.2rem;
}

.container-right-text .link-box a:hover {
    color: #db647b;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.container-right-text:not(:last-child) {
    margin-bottom: 3.2rem;
}

.container-left {
    margin-right: 4rem;
}

.container-left .box {
    border-radius: 50%;
    -webkit-box-shadow: 8px 2px 20px black;
    box-shadow: 8px 2px 20px black;
    background: -webkit-gradient(linear, left top, right bottom, from(#2d2f41), to(#10131c));
    background: linear-gradient(to right bottom, #2d2f41, #10131c);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.container-left .box:hover {
    box-shadow: 0 0 10px 10px #c42f4d, 0 0 30px 10px #910e28;
    transform: scale(1.05);
}

.container-left img {
    width: 29rem;
    height: 29rem;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, right bottom, from(#2d2f41), to(#10131c));
    background: linear-gradient(to right bottom, #2d2f41, #10131c);
}

/* Mobile Responsive */
@media (max-width: 750px) {
    .container {
        -webkit-animation: right 1s;
        animation: right 1s;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        margin: 8rem 0rem auto;
        padding-bottom: 10rem;
    }

    .container-left {
        margin-right: 0;
        margin-top: 20rem;
    }

    .container-left img {
        width: 20rem;
        height: 20rem;
    }
}